#alap {
  border-color: blue;
  border-width: 5px;
  border-style: solid;
  background-color: lightblue;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

input {
  width: 4em;
}
h1 {
  text-align: center;
  font-size: 7vmin;
}

.output-values {
  margin-left: 5px;
}

.horizontal-items {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.vertical-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
hr {
  width: 100%;
  border: 1px solid #000000;
  margin: 3px 0;
}

#inputs div {
  margin-top: auto;
  margin-bottom: auto;
}

p,
label,
button {
  font-size: 6vmin;
  margin: 0px;
}

div {
  margin-bottom: 0px;
}
body,
input,
button {
  font-size: 6vmin;
}

#input-section label,
input,
p {
  font-size: 5vmin;
}

#output-section p {
  font-size: 110%;
}

button {
  border-style: outset;
  border-width: 3px;
}

button:active {
  border-style: inset;
}

@keyframes flashing {
  0% {
    color: #ff0000;
  }
  5% {
    color: #800000;
  }
  10% {
    color: #ff0000;
  }
  15% {
    color: #800000;
  }
  20% {
    color: #ff0000;
  }
  25% {
    color: #800000;
  }
  30% {
    color: #ff0000;
  }
  35% {
    color: #800000;
  }
  40% {
    color: #ff0000;
  }
  45% {
    color: #800000;
  }
  50% {
    color: #ff0000;
  }
  55% {
    color: #800000;
  }
  60% {
    color: #ff0000;
  }
  65% {
    color: #800000;
  }
  70% {
    color: #ff0000;
  }
  75% {
    color: #800000;
  }
  80% {
    color: #ff0000;
  }
  85% {
    color: #800000;
  }
  90% {
    color: #ff0000;
  }
  95% {
    color: #800000;
  }
  100% {
    color: #ff0000;
  }
}
